section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

 button {
  background-color: blueviolet;
  color: white;
  padding: .8rem;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: rgb(72, 39, 86);
  /* padding: 1rem; */
  border-radius: 8px;
}